.transliteration__button-text-size {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  color: #000;
  letter-spacing: 0;
  padding: 0;
  margin: 0 0 10px 0;
  width: 40px;
  height: 40px;
  opacity: 0.5;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .transliteration__button-text-size {
    width: 50px;
    height: 50px;
  }
}
