.alphabet__characters {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(12, 33px);
    grid-auto-flow: column;
    height: 400px;
}

@media screen and (max-width: 940px) {
    .alphabet__characters {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(18, 33px);
        height: 600px;
    }
}

@media screen and (max-width: 650px) {
    .alphabet__characters {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(35, 33px);
        height: 1170px;
    }
}