.alphabet__characters {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(12, 45px);
    grid-auto-flow: column;
    height: 565px;
}

@media screen and (max-width: 940px) {
    .alphabet__characters {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(18, 45px);
        height: 825px;
    }
}

@media screen and (max-width: 650px) {
    .alphabet__characters {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(35, 45px);
        height: 1610px;
    }
}