.options__fieldset-legend {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  color: #000;
  letter-spacing: 0;
  margin: 10px;
  padding: 0;
}
