.transliteration__textarea {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  color: #000;
  letter-spacing: 1px;
  margin: 0;
  width: 95%;
  padding: 10px;
}
