@import url(./normalize.css);
@import url(../blocks/page/page.css);
@import url(../blocks/page/__container/page__container.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__text/lead__text.css);



.alphabet {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 90vw;
    margin: 0 auto 25px;
}

.alphabet__characters {
    width: 100%;
    
}

